/**
Copyright © Integrity Invoice, All rights reserved.
Integrity Invoice is a service of Media Divinity Design Ltd.
**/


#iSM{margin:0 5px 15px 0; padding:0px 10px 0 0; height:36px; float:right;}
#iSM p{margin:0px; padding:0; font-size:11px; line-height:14px;}
#iSM ul{border:0;margin:4px 0 10px 0;padding:0;list-style-type:none;text-align:center;}
#iSM ul li{display:block;float:left;text-align:center;padding:1px 0 0 0;margin:0;height:20px; line-height:20px;}
#iWeak,#iMedium,#iStrong{width:96px;font-size:.7em;color:#adadad;text-align:center;padding:2px;background-color:#F1F1F1;display:block; border-top: 2px solid #adadad;}
#iWeak,#iMedium{border-right:solid 1px #DEDEDE;}
#iMedium{width:84px;}
#iMedium,#iStrong{border-left-width:0;}

div.strong #iWeak, div.strong #iMedium, div.strong #iStrong {
	border-top: 2px solid #00CC66;
	color: #adadad;
}

div.medium #iWeak, div.medium #iMedium {
	border-top: 2px solid #fcfc00;
	color: #adadad;
}

div.medium #iWeak, div.medium #iMedium {
	border-top: 2px solid #fcfc00;
	color: #adadad;
}

div.weak #iWeak {
	border-top: 2px solid #FF0000;	 
	color: #adadad;
}

div.strong #iStrong, div.medium #iMedium, div.weak #iWeak {
	color:#000;
}